:root {
    --white: hsl(0, 0%, 100%);
    --light: hsl(0, 0%, 87%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 45%);
    --light-gray: hsl(0, 0%, 78%);
    --danger: hsl(359, 74%, 54%);
    --success: hsl(137, 63%, 33%);
    --link: hsl(220, 76%, 55%);
    --warning: hsl(47, 83%, 60%);
    --info:hsl(176, 56%, 49%);
    --purple: hsl(292, 86%, 41%);
    --orange: hsl(28, 100%, 56%);
    --aqua: hsl(195, 100%, 72%);
    --navy: hsl(210, 100%, 12%);

}